rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Esta regra permite que qualquer pessoa com a referência do seu banco de dados Firestore
    // visualize, edite e exclua todos os dados no seu banco de dados Firestore.
    // Ela é útil para começar, mas está configurada para expirar após 30 dias
    // porque deixa seu aplicativo vulnerável a atacantes. Após esse período,
    // todas as requisições de clientes ao seu banco de dados Firestore serão negadas.
    //
    // Certifique-se de escrever regras de segurança para o seu aplicativo antes desse prazo,
    // caso contrário, todas as requisições de clientes ao seu banco de dados Firestore
    // serão negadas até que você atualize suas regras.

    match /{document=**} {
      allow read, write: if true;  // Para desenvolvimento apenas
    }
  }
}